body{
    background-color: #080808;
    color: #d9d9d9;

    /* font */
    font-family: "Poppins", sans-serif;
    
}
main{
    margin-inline: 260px;
}
/* .accent-color{
    color: orange;
} */

h1{
    font-size: xxx-large;
    font-weight: 800;
    margin: 0px;
}

h2{
    font-size: x-large;
    font-weight: 700;
    margin: 0px;
}
h3{
    margin: 0px;
}
p{margin: 0px;}

.espacio-1{
    margin-bottom: 5px;
}
.espacio-2{
    margin-bottom: 15px;
}
.espacio-3{
    margin-bottom: 25px;
}
.espacio-4{
    margin-bottom: 85px;
}

.centrado{
    display:flex;
    justify-content:center;
}


.tarjeta{
    width: 300px;
    height: 510px;
    /*padding-block: 8px;
    padding-inline: 8px;
     border-radius: 8px;
    background-color: #ffffff1a; */
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}
.tarjeta > h3{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
}
/* .tarjeta > p {
    margin-top: 10px;
} */
.tarjeta > img{
    border: 15px solid;
    border-color: #d9d9d9;
    border-radius: 2px;
    
    width: 90%;
}
.tarjeta > button{
    /* align-self: center; */
    margin-top: 10px;
    background-color: #e27a26;
    color: #080808;
    font-size: medium;
    font-weight: 700;
    padding-inline: 12px;
    padding-block: 5px;
    border:5px;
    border-radius: 10px;
}

.card-carrito{
    
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #d9d9d9d2;
    color: #080808;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
}
.card-carrito > h3{
    text-align: center;
    font-size:larger;
    font-weight: 800;
}

.tarjeta-carrito > h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: medium;
}

#productos{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}